*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--White: hsl(0, 0%, 100%);
--Stone: hsl(30, 54%, 90%);
--Stone: hsl(30, 18%, 87%);
--Stone: hsl(30, 10%, 34%);
--Stone: hsl(24, 5%, 18%);
--Brown: hsl(14, 45%, 36%);
--Rose: hsl(332, 51%, 32%);
--Rose: hsl(330, 100%, 98%);
}

@font-face {
    font-family: 'Outfit';
    src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'YoungSerif-Regular';
    src: url(./assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

body{
    display: grid;
   place-items: center;
    height: 100vh;
    margin: auto;
    background: hsl(30, 54%, 90%);
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
    width: 300px;
    padding: 1rem;
    font-size: .8rem;
}

.container{
    width: 100%;
    max-width: 800px;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 20px;
}

img{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

h1{
    color: hsl(24, 5%, 18%);
    font-family: 'YoungSerif-Regular';
}
h1, p {
    margin-bottom: 1rem ;
}

.prep{
    background-color: hsl(30, 54%, 90% );
    padding: 10px;
    margin-bottom: .5rem;
    border-radius: 5px;
    
}

hr{
    border: none;
    height: 1px;
    background-color:  hsl(30, 18%, 87%);
    margin: 20px 0;
}

ul:first-child{
    margin-top: 0.5rem;
}

ul{
    list-style-type: square;
    padding-left: 10px;
    
}

li{
    margin-bottom: .3rem;
    padding-left: 1rem;
}
 ul li::marker{
    color: hsl(14, 45%, 36%);
    font-size: 8px;
 }


h2{
    font-family: 'YoungSerif-Regular';
    color:hsl(14, 45%, 36%);
    padding-bottom: .8rem;
}


ol{
    margin-bottom: 1rem;
}

table{
    width: 100%;
    border-collapse: collapse;
}

td{
    border-bottom: 2px solid hsl(30, 18%, 87%);
    padding: 8px 0;
    font-size: 14px;
    text-align: left;
}

td:nth-child(2){
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

.attribution { font-size: 11px; 
    text-align: center; 
    margin: 1rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}